* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e3449;
  background-image: linear-gradient(135deg, #1e3449 0%, #020207 100%);
  
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-family: var(--philopher-font), sans-serif;
}
