* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* overflow: hidden; */
  background: rgb(27, 27, 28);
  background: linear-gradient(
    108deg,
    rgba(27, 27, 28, 1) 29%,
    rgba(27, 61, 92, 1) 94%
  );
}

body::-webkit-scrollbar {
  display: none;
}

h2 {
  font-family: var(--philopher-font), sans-serif;
}
